PORT=5000

NODE_ENV=development

DATABASE_URL=postgresql://neondb_owner:npg_WRJ1gKMayj6e@ep-rapid-darkness-b41znwrm-pooler.c-6.us-east-2.aws.neon.tech/online_job_portal?sslmode=require&channel_binding=require

DB_HOST=localhost
DB_PORT=5432
DB_NAME=online_job_portal
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=c3f9b2d8e4a1f06789123456789abcdef0123456789abcdef0123456789abcdef
JWT_EXPIRES_IN=7d